
@{
    ViewData["Title"] = "Index";
}
<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h2 class="font-weight-bolder">
                Error

            </h2>
        </div>
    </div>
    <div class="card-body">
        <h1 class="">You Don’t have Authorization to View this Page </h1>

        <a href="/Home/index" class="btn btn-warning">Back</a>
    </div>
</div>
