@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Login Cover | Dashboard - Bidder System </title>
    <link rel="icon" type="image/x-icon" href="~/ltr/assets/img/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/ltr/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/ltr/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="~/ltr/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="~/ltr/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/ltr/assets/css/forms/switches.css">
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="~/ltr/plugins/loaders/custom-loader.css" rel="stylesheet" type="text/css"/>
    <!--  END CUSTOM STYLE FILE  -->
</head>
<body class="form" id="formLogin">
<div class="form-container">
    <div class="form-form">
        <div class="form-form-wrap">
            <div class="form-container">
                <div class="form-content">
                    <img src="~/app_files/logo-sm.png" class="img img-responsive" style="width: 120px;" />
                    <form class="text-left">
                        <div class="form">
                            <div id="loading"></div>

                            <div id="username-field" class="field-wrapper input">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle>
                                </svg>
                                <input id="username" name="username" type="text" class="form-control" placeholder="Username">
                            </div>

                            <div id="password-field" class="field-wrapper input mb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
                                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                </svg>
                                <input id="password" name="password" type="password" class="form-control" placeholder="Password">
                                <div class="errorAuthnenticated m-2"></div>
                            </div>
                            <div class="d-sm-flex justify-content-between">
                                <div class="field-wrapper">
                                    <button type="button" onclick="login();" class="btn btn-primary" value="">Log In</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br/>
                    <p class="terms-conditions">All Rights Reserved © Rslf 2021 </p>

                </div>
            </div>
        </div>
    </div>
    <div class="form-image">
        <div class="l-image">
        </div>
    </div>
</div>

<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="~/ltr/assets/js/libs/jquery-3.1.1.min.js"></script>
<script src="~/ltr/bootstrap/js/popper.min.js"></script>
<script src="~/ltr/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>

<script type="text/javascript">
    $(document).ready(function() {
        'use strict';
    });

    function login() {
        //debugger;
        $('#loading').html('<div class="d-flex justify-content-between mx-5 mt-3 mb-5" hidden="hidden"><div class= "spinner-grow text-info align-self-center" > Loading...</div ><div class="spinner-grow text-danger align-self-center">Loading...</div><div class="spinner-grow text-secondary align-self-center">Loading...</div><div class="spinner-grow text-warning align-self-center">Loading...</div></div>');
        var model = { User: {} };
        model.User.UserName = $("#username").val();
        model.User.Password = $("#password").val();


        $.ajax({
            type: "POST",
            url: "@Url.Action("Login")",
            data: model,
            dataType: "json",
            success: function(msg) {
                console.log(msg);
                if (msg.success == true) {
                    location.href = msg.action;
                } else {
                    $(".errorAuthnenticated").html('<div class="alert alert-danger mb-4" role="alert"> <button type="button" class="close" data-disBidders="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-disBidders="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button> <strong>Error!</strong> ' + msg.message + '. </div>');
                }

            },
            error: function(req, status, error) {
                console.log(error);
            }
        });
    }
</script>